# Default ignored files
/workspace.xml

/.idea
.idea

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# config
CONFIG.yaml
/CONFIG.yaml
.yaml
/.yaml
.yml
/.yml
config.yml
/config.yml

# notebooks
/.ipynb_checkpoints/
/notebooks/.ipynb_checkpoints/
/notebooks/code_path.txt
